.footer {
  text-align: center;
  margin: 30px 0;
}
.container {
  margin-top: 50px;
}
a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: ease-in 200ms;
}
a:hover {
  font-size: 17px;
  color: black;
}
.App {
  max-width: 960px;
  margin: 0 auto;
}
